<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database Design</title>
  </head>
  <body>
    <iframe
      width="100%"
      height="500px"
      style="
        box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
        border-radius: 15px;
      "
      allowtransparency="true"
      allowfullscreen="true"
      scrolling="no"
      title="Embedded DrawSQL IFrame"
      frameborder="0"
      src="https://drawsql.app/splitter/diagrams/splitter/embed"
    ></iframe>
  </body>
</html>
